page-home {

}
.signin
{
	width:100%;
	background-color:#B2D15A !important;	

}

.register
{

   width:100%;
   border:1px solid #B2D15A !important;	
   color:#B2D15A !important;	
}

.slogan{
	
	padding-top:10px;
    padding-bottom:80px;

}