page-settings {

}
.icon_settings{
	background-image:url("../../assets/Settings Screen  - Settings Select Icon.png"); 
	background-repeat: no-repeat; 
    background-position: right center;
    background-origin: content-box;
    background-size: 2.5rem 2.5rem;
    //background-color:#F5F5F5   !important;	
    //height: 60px !important;	
    width:100% !important;	
}
