page-home {

}


.txt{
	padding-top:10px;
	font-size:16px;
	font-weight: 400 !important; 
	text-transform:none !important; 
}

.txt1{
	padding-top:10px;
	font-size:18px;
	font-weight: 400 !important; 
	text-transform:none !important; 
	color:#6c6c6c;
}

.txt2{
	padding-top:10px;
	font-size:18px;
	font-weight: 400 !important; 
	text-transform:none !important; 
}

.txt_shadow{
	padding-top:10px;
	font-size:12px;
	text-transform:none !important; 
	color:#6c6c6c;
}
.mp_icon_button{
    background-color:#F5F5F5   !important;	
    width:100% !important;	
    text-align: left !important;	
    text-indent:20px !important; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block; 
}

.mp_icon_button_green{	
    background-color:#B2D15A !important;	
    text-align: left !important;	
    width:100% !important;	
    text-indent:20px !important; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block; 
}

.mp_input_radious{
    border-radius: 64px !important; 
    border-top-left-radius: 64px  !important;   
    border-top-right-radius: 64px  !important;
    border-bottom-left-radius: 64px  !important;    
    border-bottom-right-radius: 64px  !important;
}
